{% extends "CMSAdminBundle::layout.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/admin/assets/bootstrap/css/bootstrap-fileupload.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/admin/assets/DateTimePicker/DateTimePicker.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/assets/jquery-tags-input/jquery.tagsinput.css') }}" />
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/assets/DateTimePicker/DateTimePicker-ltie9.min.css') }}" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/assets/chosen-bootstrap/chosen/chosen.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/assets/bootstrap-summernote/summernote.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/admin/assets/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css') }}" />
{% endblock %}

{% block title %}Article - Edit{% endblock %}

{% block content %}
    <div class="span12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="widget orange">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i> Job Form</h4>
            <span class="tools">
               <a class="icon-chevron-down" href="javascript:;"></a>
               <a class="icon-remove" href="javascript:;"></a>
            </span>
            </div>
            <div class="widget-body form">
                <!-- BEGIN FORM-->
                {{ form(form, { 'attr': {'class': 'cmxform form-horizontal'}}) }}
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>

    <div id="dtBox"></div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/admin/assets/chosen-bootstrap/chosen/chosen.jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/admin/assets/DateTimePicker/DateTimePicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/admin/assets/jquery-tags-input/jquery.tagsinput.min.js') }}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ asset('bundles/admin/assets/DateTimePicker/DateTimePicker-ltie9.min.js') }}"></script>
<![endif]-->
<script type="text/javascript" src="{{ asset('bundles/admin/assets/bootstrap-summernote/summernote.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/admin/assets/bootstrap/js/bootstrap-fileupload.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/admin/assets/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //Setup select box
        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({allow_single_deselect:true});

        //tag input

        function onAddTag(tag) {
            alert("Added a tag: " + tag);
        }
        function onRemoveTag(tag) {
            alert("Removed a tag: " + tag);
        }

        function onChangeTag(input,tag) {
            alert("Changed a tag: " + tag);
        }

        $(function() {

            $('.tags').tagsInput({width:'auto'});

            // Uncomment this line to see the callback functions in action
            //			$('input.tags').tagsInput({onAddTag:onAddTag,onRemoveTag:onRemoveTag,onChange: onChangeTag});

            // Uncomment this line to see an input with no interface for adding new tags.
            //			$('input.tags').tagsInput({interactive:false});
        });

        // setup button checkbox togged

        // setup text editor
        $('textarea[id="article_description"]').summernote({
            height: 300   //set editable area's height
        });

        // setup button checkbox togged
        $('.metro-checkbox').toggleButtons({
            height: 30,
            font: {
                'line-height': '30px',
                'font-size': '18px',
                'font-style': 'regular'
            }
        });

        //Setup Image
        {% if entity.image %}
            $('#article_file').attr({'src':"{{ asset('uploads/article/145x145/') }}s_{{ entity.image }}", 'alt':'{{ entity.title }}'});
        {% endif %}

        //Setup date time picker
        $("#dtBox").DateTimePicker();
    });
</script>
{% endblock %}