<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ asset('bundles/main/ico/favicon.ico') }}">

    <title>Thông tin sự kiện - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/main/css/bootstrap-full.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/main/css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ asset('bundles/main/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/main/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/main/js/respond.min.js') }}"></script>
    <![endif]-->

    <script type="text/javascript">
        var base_url = "{{ app.request.schemeAndHttpHost }}/{{ app.request.getBaseURL() }}";
    </script>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0&appId=792431360769278";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="header">
    <div class="container">
        <div class="logo"><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" title="Home"><img src="{{ asset('bundles/main/img/logo.png') }}"></a></div>
        <div class="banner"><img src="{{ asset('bundles/main/img/banner.png') }}"></div>
    </div>
</div>
<div class="nav-top">
    <div class="container">
        {{ render(controller("CMSMainBundle:Default:menu", {'position':'top'}))}}
    </div>
</div>

<div class="container wrapper">
    {% block content %}
    {% endblock %}
</div>

<div class="footer">
    <div class="nav-bot">
        <div class="container">
            <nav class="blog-nav">
                <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" title="Home page"><img src="{{ asset('bundles/main/img/logo-footer.png') }}" alt="thonginsukien.info"></a>
                <a class="blog-nav-item active" href="#">Home</a>
                <a class="blog-nav-item" href="#">New features</a>
                <a class="blog-nav-item" href="#">Press</a>
                <a class="blog-nav-item" href="#">New hires</a>
                <a class="blog-nav-item" href="#">About</a>
            </nav>
        </div>
    </div>
    <div class="footer-content container">
        {{ render(controller("CMSMainBundle:Default:menu", {'position':'bot'}))}}
        <div class="row info">
            <p>Bản quyền © 2014 thongtinsukien.info<br>
            Ghi rõ nguồn thongtinsukien.info khi phát hành lại thông tin từ website này.<br>
            Website đang trong quá trình thử nghiệm, chờ cấp phép của Bộ Thông Tin và Truyền Thông
            </p>
        </div>
    </div>
</div>

<div class="trigger"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/main/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/main/js/docs.min.js') }}"></script>
{% block javascripts %}{% endblock %}
<script src="{{ asset('bundles/main/js/common.js') }}"></script>
<script>

    $(document).ready(function(){
        /* --- Setup right slide bar scroll ---*/
        // define value
        var $scrollDom = $('.blog-sidebar .view-best');
        $scrollDom.css('position','relative');
        var $viewTop = $scrollDom.offset().top;
        var $viewBot = $('.footer').offset().top;

        // scroll event process
        $(window).scroll(function(){
            if($(this).scrollTop()>=$viewTop){
                if(($(this).scrollTop() + $scrollDom.height()) >= $viewBot){
                    $scrollDom.css({position: 'relative', top: '0'});
                }else $scrollDom.css({position: 'fixed', top: '20px'});
            }else{
                $scrollDom.css({position: 'relative', top: '0'});
            }
        });
    });
</script>
<div id="fb-root"></div>
</body>
</html>
