<!DOCTYPE html>
{{ render(controller("CMSMainBundle:Default:session"))}}
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ app.session.get('settingWebsite').websiteDescription }}">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta property="fb:app_id" content="{{ app.session.get('settingWebsite').websiteAppApiFacebook }}" />
    <link rel="shortcut icon" href="{{ asset('uploads/banner/') }}{{ app.session.get('settingWebsite').websiteLogo }}">

    <title>{{ app.session.get('settingWebsite').websiteName }} - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/main/css/bootstrap-full.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/main/css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <script src="{{ asset('bundles/main/js/jquery.min.js') }}"></script>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ asset('bundles/main/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/main/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/main/js/respond.min.js') }}"></script>
    <![endif]-->

    <script type="text/javascript">
        var base_url = "{{ app.request.schemeAndHttpHost }}/{{ app.request.getBaseURL() }}";
    </script>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.0&appId=792431360769278";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="header">
    <div class="container">
        <div class="logo"><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" title="Home"><img src="{{ asset('uploads/banner/') }}{{ app.session.get('settingWebsite').websiteBanner }}" alt="{{ app.session.get('settingWebsite').websiteName }}"></a></div>
        <div class="banner">{{ render(controller("CMSMainBundle:Default:bannerTop", {'slug': app.request.pathInfo}))}}</div>
    </div>
</div>
<div class="nav-top">
    <div class="left-nav-bg">&nbsp;</div>
    <div class="container">
        {{ render(controller("CMSMainBundle:Default:menu", {'position':'top'}))}}
    </div>
    <div class="right-nav-bg">&nbsp;</div>
</div>

<div class="container wrapper">
    {% block content %}
    {% endblock %}
</div>

<div class="footer">
    {{ render(controller("CMSMainBundle:Default:menu", {'position':'bot'}))}}
</div>

<div class="scroll-top">
    <img src="{{ asset('bundles/main/img/scroll-top.png') }}" alt="Scroll to top">
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/main/js/docs.min.js') }}"></script>
{% block javascripts %}{% endblock %}
<script src="{{ asset('bundles/main/js/common.js') }}"></script>
<script>

    $(document).ready(function(){
        //Fix bug on chrome
        $(window).load(function(){
            /* --- Setup right slide bar scroll ---*/
            // define value
            var $scrollDom = $('.blog-sidebar .view-best');
            $scrollDom.css('position','relative');
            {% if app.request.get('_route') == 'cms_main_default_index' %}
            var $viewTop = $scrollDom.offset().top + 250 + $scrollDom.height();
            {% else %}
            var $viewTop = $scrollDom.offset().top;
            {% endif %}
            var $viewBot = $('.footer').offset().top;

            // scroll event process
            if(($viewTop + $scrollDom.height()) <  ($viewBot -100) ){
                $(window).scroll(function(){

                    if($(this).scrollTop() >= $(window).height()){
                        $('.scroll-top').fadeIn('slow');
                    }else{
                        $('.scroll-top').fadeOut('slow');
                    }

                    if($(this).scrollTop()>=$viewTop){
                        if(($(this).scrollTop() + $scrollDom.height()) >= $viewBot){
                            $scrollDom.css({position: 'relative', top: '0'});
                        }else $scrollDom.css({position: 'fixed', top: '20px'});
                    }else{
                        $scrollDom.css({position: 'relative', top: '0'});
                    }
                });
            }else{
                $(window).scroll(function(){

                    if($(this).scrollTop() >= $(window).height()){
                        $('.scroll-top').fadeIn('slow');
                    }else{
                        $('.scroll-top').fadeOut('slow');
                    }
                });
            }

            $('.scroll-top').click(function(){
                $('html, body').animate({scrollTop:0},"slow")
            });
            var $search = $('.search-form');
            $('#button-search').click(function(){
                var $display = $search.css('display');
                if(!$display || $display == 'none'){
                    $search.slideDown(200);
                    $('#keyword').focus();
                }else{
                    $search.slideUp(200);
                }
            })
        });
    });

    function printContent() {
        var url = window.location.href;
        url = url.replace(/\/(chuyen-muc)\//, '/print/');
        window.open(url, '_blank', 'left=300,top=0,width=550,height=600,toolbar=0,scrollbars=1,status=0');
    }
</script>
<div id="fb-root"></div>
</body>
</html>
