{% extends "CMSAdminBundle::layout.html.twig" %}

{% block title %}Advertise - Detail{% endblock %}

{% block content %}
    <div class="span12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="widget red">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i> Advertise Detail</h4>
            <span class="tools">
               <a class="icon-chevron-down" href="javascript:;"></a>
               <a class="icon-remove" href="javascript:;"></a>
            </span>
            </div>
            <div class="widget-body form cmxform form-horizontal">
                <div class="control-group ">
                    <label class="control-label">Id</label>
                    <div class="controls">
                        <span>{{ entity.id }}</span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        <span>{{ entity.name|stripslashes }}</span>
                    </div>
                </div>
                {% if entity.image %}
                <div class="control-group ">
                    <label class="control-label">Image</label>
                    <div class="controls">
                        <div class="mws-form-item avatar">
                        <span class="thumbnail span5">
    					<img src="{{ asset('uploads/advertises/') }}{{ entity.image }}" alt="{{ entity.name }}" />
                        </span>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="control-group ">
                    <label class="control-label">Create date</label>
                    <div class="controls">
                        <span>{{ entity.createDate|date('d-m-Y h:i a') }}</span>
                    </div>
                </div>
                {% if entity.groupArticle|length %}
                    <div class="control-group ">
                        <label class="control-label">Special Group</label>
                        <div class="controls">
                            <span>{% for groupArticle in entity.groupArticle %}<a href="{{ path('grouparticle_show', { 'id': groupArticle.id }) }}" title="{{groupArticle.name}}">{{groupArticle.name}}</a>, {% endfor %}</span>
                        </div>
                    </div>
                {% endif %}
                <div class="control-group ">
                    <label class="control-label">Impression</label>
                    <div class="controls">
                        <span>{{ entity.views }}</span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">CPM - Cost per 1000 impression </label>
                    <div class="controls">
                        <span>{{ entity.cpm|number_format(0, ',', '.') }} (VNĐ)</span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Click count</label>
                    <div class="controls">
                        <span>{{ entity.click }}</span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">CPC - Cost per click </label>
                    <div class="controls">
                        <span>{{ entity.cpc|number_format(0, ',', '.') }} (VNĐ)</span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Budget for advertise</label>
                    <div class="controls">
                        <span>{{ entity.budget|number_format(0, ',', '.')  }} (VNĐ)</span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Used</label>
                    <div class="controls">
                        <span>{{ (entity.cpc*entity.click + (entity.views/1000)*entity.cpm)|number_format(0, ',', '.')  }} (VNĐ)</span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Is active</label>
                    <div class="controls">
                        <span>{% if entity.isActive == 1 %}Yes{% else %}No{% endif %}</span>
                    </div>
                </div>
                <div class="control-group ">
                    <label class="control-label">Url</label>
                    <div class="controls">
                        <span>{{ entity.url|stripslashes|raw('html') }}</span>
                    </div>
                </div>
                <div class="form-actions">
                    <a class="btn btn-danger" href="{{ path('advertise_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                    <a class="btn btn-warning" href="{{ path('advertise_delete', { 'id': entity.id }) }}">
                        Delete
                    </a>
                </div>
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
{% endblock %}
