{% extends "CMSMainBundle::layout.html.twig" %}
{% block title %}{{ article.title|stripslashes }}{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-sm-8 blog-main article">
            {% if article %}
                <div class="blog-post article">
                    <h2 class="blog-post-title">{{ article.title|stripslashes }}</h2>
                    <p class="blog-post-meta">{% if article.datecreate %}{{ article.datecreate|date('H:i d/m/Y') }}{% endif %}</p>

                    <div class="blog-post-description">
                        {{ article.description|stripslashes|raw('html') }}
                    </div>
                    <div class="blog-post-tool">
                        <div class="tool">
                            <div class="like-face">
                                <div class="fb-like" data-href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ article.groupArticle.url }}/{{ article.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                            </div>
                            <div class="printer">
                                <a href="javascript:void(0)" onclick="printContent();" title="Máy in"><img alt="printer" src="{{ asset('bundles/main/img/printer.png') }}"></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="tags">
                            Từ khóa:
                            {% if article.tags %}
                                {% set listTag = article.tags|split(',') %}
                                {%  for tag in listTag %}
                                <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/tim-kiem?tu-khoa={{ tag }}" title="{{ tag|stripslashes }}">{{ tag|stripslashes }}</a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div id="comments">
                        <fb:comments href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ article.groupArticle.url }}/{{ article.url }}" width="100%" numposts="5" colorscheme="light"></fb:comments>
                    </div>
                </div>
                {% if related|length %}
                <div class="related-post">
                    <h4>Bài viết liên quan</h4>
                    <ul>
                        {% for article in related %}
                        <li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ article.groupArticle.url }}/{{ article.url }}" title="{{ article.title|stripslashes }}">{{ article.title|stripslashes }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% else %}
                <div class="alert">
                    <span>Dữ liệu đang được cập nhật</span>
                </div><!-- /.blog-post -->
            {% endif %}
        </div><!-- /.blog-main -->
        {{ render(controller("CMSMainBundle:Default:rightSlideBar", {'slug': app.request.pathInfo, 'listSpecial': listSpecial, 'likeBox': false, 'viewBest': true}))}}
    </div><!-- /.row -->

{% endblock %}