<div class="sidebar-module ad">
{% if advertise %}
    {% if  advertise.image[-3:] != 'swf' %}
    <a href="{{ advertise.url }}" title="{{ advertise.name }}" class="banner-right">
    <img src="{{ asset('uploads/advertises/300x300/') }}m_{{ advertise.image }}" alt="{{ advertise.name }}" />
    </a>
    <script type="text/javascript">
        $(document).ready(function(){
           $(".banner-right").click( function() {
                $.ajax({
                    type: "GET",
                    data: "id=" + '{{ advertise.id }}',
                    url: "{{ path('advertise_update_cpc') }}",
                    success: function(msg){
                        var data = $.parseJSON(msg);
                        var root = data.root;
                        if(root.msg == true)
                            window.location.href = root.url;
                   }
               });
               return false;
           }); 
        });
    </script>
    {% else %}
        <object width="100%">
            <param value="always" name="AllowScriptAccess">
            <param value="High" name="quality">
            <param value="transparent" name="wmode">
            <embed src="{{ asset('uploads/advertises/') }}{{ advertise.image }}?link={{ app.request.schemeAndHttpHost|url_encode }}{{ path('advertise_update_cpc_flash')|url_encode }}{{ '?id='|url_encode }}{{ advertise.id }}" width="300" height="250" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" menu="false" wmode="transparent"></embed>
        </object>
    {% endif %}
{% endif %}
</div>