{% if advertise %}
    {% if  advertise.image[-3:] != 'swf' %}
    <a class="banner-top" href="{{ advertise.url }}" title="{{ advertise.name }}">
        <img src="{{ asset('uploads/advertises/650x000/') }}l_{{ advertise.image }}" alt="{{ advertise.name }}" />
    </a>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".banner-top").click( function() {
                $.ajax({
                    type: "GET",
                    data: "id=" + '{{ advertise.id }}',
                    url: "{{ path('advertise_update_cpc') }}",
                    success: function(msg){
                        var data = $.parseJSON(msg);
                        var root = data.root;
                        if(root.msg == true)
                            var win = window.open(root.url, '_blank');
                            win.focus();
                    }
                });
                return false;
            });
        });
    </script>
    {% else %}
        <object width="100%" height="90">
            <param value="always" name="AllowScriptAccess">
            <param value="High" name="quality">
            <param value="transparent" name="wmode">
            <embed src="{{ asset('uploads/advertises/') }}{{ advertise.image }}?link={{ app.request.schemeAndHttpHost|url_encode }}{{ path('advertise_update_cpc_flash')|url_encode }}{{ '?id='|url_encode }}{{ advertise.id }}" width="650" height="90" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" menu="false" wmode="transparent"></embed>
        </object>
    {% endif %}
{% endif %}