{% extends "CMSMainBundle::layout.html.twig" %}
{% block stylesheets %}<link href="{{ asset('bundles/main/css/MetroJs.css') }}" rel="stylesheet">{% endblock %}
{% block title %}Trang chủ{% endblock %}
{% block content %}
    <div class="blog-banner">
        <div class="row">
            <div class="col-sm-8 blog-banner-main">
                {% for slider in specialGroup %}
                    <div class="live-tile" data-mode="flip">
                        <div class="flip-front">
                            <a title="{{ slider.name|stripslashes }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ slider.url }}">
                                <img class="full" alt="{{ slider.name }}" src="{{ asset('uploads/group/145x145/') }}s_{{ slider.image }}" >
                            </a>
                        </div>
                        <div class="flip-back">
                            <a title="{{ slider.name|stripslashes }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ slider.url }}">
                                <img class="full" alt="{{ slider.name }}" src="{{ asset('uploads/group/145x145/') }}s_{{ slider.imageActive }}" >
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4 blog-banner-slide-bar">
                <div class="list-new">
                    {% for slider in sliderGroups %}
                        <ul class="newest" id="group-{{ slider.id }}">
                            {% for article in slider.articles %}
                                <li>
                                    <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ slider.url }}/{{ article.url }}" title="{{ article.title|stripslashes }}"><img src="{{ asset('uploads/article/300x300/') }}m_{{ article.image }}" alt="{{ article.title }}"></a>
                                    <a class="opacity" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ slider.url }}/{{ article.url }}" title="{{ article.title|stripslashes }}">{{ article.title|stripslashes }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main index">
            {% set length = pagination|length %}
            {% for entity in pagination %}
                <div class="blog-post{% if loop.index == length %} last{% elseif loop.index == 1 %} first{% endif %}">
                    <h2 class="blog-post-title"><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.groupArticle.url }}/{{ entity.url }}" title="{{ entity.title|stripslashes }}">{{ entity.title|stripslashes }}</a></h2>
                    <p class="blog-post-meta">{% if entity.datecreate %}{{ entity.datecreate|date('H:i d/m/Y') }}{% endif %}</p>
                    <div class="blog-post-image">
                        <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.groupArticle.url }}/{{ entity.url }}" title="{{ entity.title|stripslashes }}">
                            <img src="{{ asset('uploads/article/') }}{{ entity.image }}" alt="{{ entity.title|stripslashes }}">
                        </a>
                    </div>
                    <div class="blog-post-description">
                        {{ entity.sortDescription|cut(520) }}
                    </div>
                </div><!-- /.blog-post -->
            {% endfor %}
            {{ knp_pagination_render(pagination) }}


        </div><!-- /.blog-main -->
        {{ render(controller("CMSMainBundle:Default:rightSlideBar",{'cpc':false, 'listSpecial': false, 'likeBox': true}))}}
    </div><!-- /.row -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/main/js/MetroJs.min.js') }}"></script>
    <script type="text/javascript">

        var $liveTitle = $(".blog-banner-main .live-tile");
        var $length = $liveTitle.length;
        var showTime = 3000;
        var roundTime = 4000;
        var totalTime = $length*roundTime;
        var $tiles;
        var timeOutFlipId;
        var timeOutSliderId;
        var $newFeed;
        var idGroup;
        var $top;

        $(document).ready(function(){
            flip();
            sliderNewest();
        });
        function activeSlider($newFeed){
            $($newFeed).fadeOut().removeClass('active').next().fadeIn().addClass('active');
        }
        var $heightSlide = 315*$('.list-new .newest').length;
        $('.list-new').css('height', $heightSlide+'px');
        function sliderNewest(){
            $(".blog-banner-slide-bar .newest").each(function(index, element){
                var delay = index * roundTime;
                setTimeout(function(){
                    $newFeed = ".newest:eq("+index+")";
                    $top = 315*index;
                    $('.list-new').animate({top: -$top+'px'},"fast");
                    $($newFeed).addClass('active').prev().removeClass('active');
                    idGroup =  '#'+$('.newest.active').attr('id');
                    $('.blog-nav .blog-nav-item').removeClass('active');
                    $(idGroup).addClass('active');
                }, delay);
            });

            timeOutId = setTimeout("sliderNewest()", totalTime);
        }

        function flip(){
            if($tiles){
                $tiles.liveTile("destroy", true);
            }
            $tiles = $liveTitle.liveTile({
                playOnHover: false,
                repeatCount: 0,
                delay: showTime,
                initDelay: 0,
                startNow: false,
                animationComplete: function(tileData){
                    $(this).liveTile("play");
                    tileData.animationComplete = function(){};
                }
            }).each(function(idx, ele){
                var delay = idx * roundTime;
                $(ele).liveTile("play", delay);
            });


            timeOutFlipId = setTimeout("flip()", totalTime);
        }

    </script>
{% endblock %}