{% if position == 'top' %}
<nav class="blog-nav">
    {% for entity in menus %}
        {% if loop.index <= 10 %}
        <a class="blog-nav-item" id="group-{{ entity.id }}" title="{{ entity.name }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.url }}">{{ entity.name }}</a>
        {% endif %}
    {%  endfor %}
</nav>
<div class="search">
    <a id="button-search" href="javascript:void(0)" title="search"><img src="{{ asset('bundles/main/img/search.png') }}" alt="Search"></a>
</div>
<div class="search-form">
    <form action="{{ path('cms_main_search') }}" method="get">
        <label for="tu-khoa">Từ khóa</label>
        <input name="tu-khoa" placeholder="Nhập từ khóa" type="text" id="keyword">
        <button>Tìm kiếm</button>
    </form>
</div>
{% endif %}

{% if position == 'bot' %}
    <div class="nav-bot">
        <div class="container">
            <nav class="blog-nav">
                <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" class="home-footer" title="Home page">&nbsp;</a>
                {% for page in cms  %}
                    <a class="blog-nav-item" id="page-{{ page.id }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/{{ page.url }}">{{ page.title }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
    <div class="footer-content container">
        <div class="row nav-main-bot">
            <ul>
                {% for entity in menus %}
                <li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.url }}" title="{{ entity.name }}">{{ entity.name }}</a></li>
                {% if loop.index % 4 == 0 %}</ul><ul>{% endif %}
                {%  endfor %}
            </ul>
        </div>
        <div class="row info">
            <p>Bản quyền © 2014 thongtinsukien.info<br>
                Ghi rõ nguồn thongtinsukien.info khi phát hành lại thông tin từ website này.<br>
                Website đang trong quá trình thử nghiệm, chờ cấp phép của Bộ Thông Tin và Truyền Thông
            </p>
        </div>
    </div>
{% endif %}