{% if position == 'top' %}
<nav class="blog-nav">
    {% for entity in menuTop %}
        <a class="blog-nav-item" id="group-{{ entity.id }}" title="{{ entity.name|stripslashes }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.url }}">{{ entity.name|stripslashes }}</a>
    {%  endfor %}
</nav>
<div class="search">
    <a id="button-search" href="javascript:void(0)" title="search"><img src="{{ asset('bundles/main/img/search.png') }}" alt="Search"></a>
</div>
<div class="search-form">
    <form action="{{ path('cms_main_search') }}" method="get">
        <input name="tu-khoa" minlength="6" placeholder="Nhập từ khóa" type="text" id="keyword">
    </form>
</div>
{% endif %}

{% if position == 'bot' %}
    <div class="nav-bot">
        <div class="container">
            <nav class="blog-nav">
                <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" class="home-footer" title="Home page">&nbsp;</a>
                {% for page in cms  %}
                    <a class="blog-nav-item" id="page-{{ page.id }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/{{ page.url }}" title="{{ page.title|stripslashes }}">{{ page.title|stripslashes }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
    <div class="footer-content container">
        <div class="row nav-main-bot">
            <ul>
                {% for entity in menuBot %}
                <li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.url }}" title="{{ entity.name|stripslashes }}">{{ entity.name|stripslashes }}</a></li>
                {% if loop.index % 4 == 0 %}</ul><ul>{% endif %}
                {%  endfor %}
            </ul>
        </div>
        <div class="row info">
            {{ app.session.get('settingWebsite').websiteCopyright|raw('html') }}
        </div>
    </div>
{% endif %}