{% if position == 'top' %}
<nav class="blog-nav">
    {% for entity in menuTop %}
        <a class="blog-nav-item" id="group-{{ entity.id }}" title="{{ entity.name|stripslashes }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.url }}">{{ entity.name|stripslashes }}</a>
    {%  endfor %}
</nav>
<div class="search">
    <a id="button-search" href="javascript:void(0)" title="search"><img src="{{ asset('bundles/main/img/search.png') }}" alt="Search"></a>
</div>
<div class="search-form">
    <form action="{{ path('cms_main_search') }}" method="get">
        <input name="tu-khoa" minlength="6" placeholder="Nhập từ khóa" type="text" id="keyword">
    </form>
</div>
{% endif %}

{% if position == 'mobile' %}
<div class="menu-mobile hidden-pc visible-tablet sb-slide sb-slide-header">
    <button class="sb-toggle-left">&nbsp;</button>
</div>
<div class="sb-slidebar sb-left">
    <ul>
        <li class="banner-menu"><a class="logo-menu-mobile" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" title="Home"><img src="{{ asset('bundles/main/img/logo-mobile.png') }}" alt="{{ app.session.get('settingWebsite').websiteName }}"></a><button class="close-slidebar sb-close">&nbsp;</button></li>
        <li class="category">Chuyên mục</li>
        <li class="item"><a title="Thông tin sự kiện" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}">Trang chủ</a></li>
        {% for entity in menuBot %}
        <li class="item"><a title="{{ entity.name|stripslashes }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.url }}">{{ entity.name|stripslashes }}</a></li>
        {%  endfor %}
        <li class="footer">
            <div class="logo-mobile"><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" title="Home"><img src="{{ asset('bundles/main/img/footer-logo-mobile.png') }}" alt="{{ app.session.get('settingWebsite').websiteName }}"></a></div>
            <div class="static-menu">
                {% for page in cms  %}
                    <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/{{ page.url }}" title="{{ page.title|stripslashes }}">{{ page.title|stripslashes }}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
</div>
{% endif %}

{% if position == 'bot' %}
    <div class="nav-bot">
        <div class="container">
            <nav class="blog-nav visible-pc hidden-tablet">
                <a class="home-footer" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" title="Home page">
                    <img src="{{ asset('uploads/banner/bottom/') }}{{ app.session.get('settingWebsite').websiteBannerBottom }}" alt="{{ app.session.get('settingWebsite').websiteName }}">
                </a>
                {% for page in cms  %}
                    <a class="blog-nav-item" id="page-{{ page.id }}" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/{{ page.url }}" title="{{ page.title|stripslashes }}">{{ page.title|stripslashes }}</a>
                {% endfor %}
            </nav>
            <nav class="blog-nav hidden-pc visible-tablet mobile">
                <a class="home-footer" href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}" title="Home page">
                    <img src="{{ asset('uploads/banner/bottom/') }}{{ app.session.get('settingWebsite').websiteBannerBottom }}" alt="{{ app.session.get('settingWebsite').websiteName }}">
                </a>
            </nav>
        </div>
    </div>
    <div class="footer-content container visible-pc hidden-tablet">
        <div class="row nav-main-bot">
            <ul>
                {% for entity in menuBot %}
                <li><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.url }}" title="{{ entity.name|stripslashes }}">{{ entity.name|stripslashes }}</a></li>
                {% if loop.index % 4 == 0 %}</ul><ul>{% endif %}
                {%  endfor %}
            </ul>
        </div>
        <div class="row info">
            {{ app.session.get('settingWebsite').websiteCopyright|raw('html') }}
        </div>
    </div>
{% endif %}