{% extends "CMSMainBundle::layout.html.twig" %}
{% block title %}Tìm kiếm{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-sm-8 blog-main article">
            {% set length = pagination|length %}
            {% if length %}
                <h4 style="font: 16px 'MyriadPro-Regular'; padding-left: 32px; padding-bottom: 10px; border-bottom: 1px solid #FDB813 ">Có {{ result }} kết quả cho từ khóa <em>"{{ app.request.get('tu-khoa') }}"</em></h4>
                {% for entity in pagination %}
                    <div class="blog-post{% if loop.index == length %} last{% elseif loop.index == 1 %} first{% endif %}">
                        <h2 class="blog-post-title"><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.groupArticle.url }}/{{ entity.url }}" title="{{ entity.title|stripslashes }}">{{ entity.title|stripslashes }}</a></h2>
                        <p class="blog-post-meta">{% if entity.datecreate %}{{ entity.datecreate|date('H:i d/m/Y') }}{% endif %}</p>
                        <div class="blog-post-image">
                            <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.groupArticle.url }}/{{ entity.url }}" title="{{ entity.title|stripslashes }}">
                                <img src="{{ asset('uploads/article/') }}{{ entity.image }}" alt="{{ entity.title|stripslashes }}">
                            </a>
                        </div>
                        <div class="blog-post-description">
                            {{ entity.sortDescription|stripslashes|cut(600) }}
                        </div>
                    </div><!-- /.blog-post -->
                {% endfor %}

                {{ knp_pagination_render(pagination) }}
            {% else %}
                <div>
                    <h4 style="font: 16px 'MyriadPro-Regular'; padding-left: 32px; padding-bottom: 10px; border-bottom: 1px solid #FDB813 ">Không tìm thấy kết quả cho từ khóa <em>"{{ app.request.get('tu-khoa') }}"</em></h4>
                </div><!-- /.blog-post -->
            {% endif %}
        </div><!-- /.blog-main -->
        {{ render(controller("CMSMainBundle:Default:rightSlideBar", {'cpc': true, 'listSpecial': false, 'likeBox': false}))}}
    </div><!-- /.row -->
{% endblock %}