{% extends "CMSMainBundle::layout.html.twig" %}
{% block title %}Tìm kiếm{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-sm-8 blog-main">
            {% if pagination|length %}
                <h4 style="font: 16px 'MyriadPro-Regular'; padding-left: 32px; padding-bottom: 10px; border-bottom: 1px solid #FDB813 ">Có {{ result }} kết quả cho từ khóa <em>"{{ app.request.get('tu-khoa') }}"</em></h4>
                {% for entity in pagination %}
                    <div class="blog-post">
                        <h2 class="blog-post-title"><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.groupArticle.url }}/{{ entity.url }}" title="{{ entity.title }}">{{ entity.title }}</a></h2>
                        <p class="blog-post-meta">{% if entity.datecreate %}{{ entity.datecreate|date('H:i d/m/Y') }}{% endif %}</p>
                        <div class="blog-post-image">
                            <a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.groupArticle.url }}/{{ entity.url }}" title="{{ entity.title }}">
                                <img src="{{ asset('uploads/article/') }}{{ entity.image }}" alt="{{ entity.title }}">
                            </a>
                        </div>
                        <div class="blog-post-description">
                            {{ entity.sortDescription }} ....
                        </div>
                        <p class="blog-post-view-more"><a href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}/chuyen-muc/{{ entity.groupArticle.url }}/{{ entity.url }}" title="Xem tiếp">Xem tiếp</a></p>
                    </div><!-- /.blog-post -->
                {% endfor %}

                {{ knp_pagination_render(pagination) }}
            {% else %}
                <div class="alert">
                    <h4>Không tìm thấy kết quả cho từ khóa {{ app.request.get('tu-khoa') }}</h4>
                </div><!-- /.blog-post -->
            {% endif %}
        </div><!-- /.blog-main -->
        {{ render(controller("CMSMainBundle:Default:rightSlideBar", {'cpc': true, 'listSpecial': false}))}}
    </div><!-- /.row -->
{% endblock %}